@media (min-width: 600px){
    body {
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size:30px;
    }
    nav {
        margin: 0 auto; 
        max-width: 960px;
        min-height:55px;
        background-color: #04647c;
        display: flex;
        flex-flow: row wrap;
        padding-bottom:5px;
    }
    nav ul{
        padding-left:10px;
        display: flex;
        flex-flow: row wrap;
        width:100%;
        height:45px;
        justify-content: space-around;
        list-style-type:none;
    }
    nav ul:first-child{
        margin-left:15px;
    }
    h3{
        align-self: center;
    }
    ol{  
        max-width:960px;
        margin-left: 30px;
        margin:0 auto;
     }
     blockquote{
        max-width:900px;
        font-size:1.2em;
    }
    form{
        max-width:960px;
        margin:0 auto;
        padding:10px;
        margin-left:-7px;
    }
    table{
        max-width:960px;
        height:300px;
        margin-left: 5px;
        padding:10px;
    }
    .content {
        display:flex;
        flex-direction: column;
    }
    #Form{
        order:1;
    }
    img{
        width:600px;
    }
    #dress{
        width:600px;
    }
    #sea{
        width:600px;
    }
}
body{
    background-color: #f7c7c2;
    display: flex;
    flex-direction: column;
    font-size:17px;
}
header{
    background-color: #02455f;
    background-size: cover;
    width: 100%;
    min-height:125px;
    padding: 7.5px;
    margin: 0 auto;
    padding-bottom: 0;
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 0 0 10px #017272;
}
footer{
    background-color: #02455f ;
    width: 100%;
    background-size: cover;
    padding: 7.5px; 
    height:30px;
    margin: 0 auto;
    margin-top: -15px;
    margin-left: -8px;
    margin-bottom: -10px;
    box-shadow: 0 0 10px #017272;
}
#logo{
    float:left;
    margin-top:0;
    width:120px;
}
.content {
    display:flex;
    flex-direction: column;
}
#Table{
    order:1;
}
h1{
    margin-top:0;
    padding:10px;
    max-width:100%; 
    border-radius: 10px;
    min-height:40px;
    height:55px;
    color: #04647c;
    font-family: "Mistral",cursive;
    background-color: #fcd2ce;
    font-size: 25px;
}
footer p{
    font-size:1.4em;
    margin:0 auto;
    text-align: center;
    padding-right: 18px;
    color:black;
}
nav {
    margin: 0 auto; 
    max-width: 100%;
    border-radius: 10px;
   background-color: #04647c;
    display: flex;
	flex-flow: column wrap;
    padding-bottom:5px;
}
nav ul{
    padding-left: 10px;
    display: flex;
	flex-direction: column;
    width:100%;
    list-style-type:none;
}
nav li{
    margin-top:-5px;
    height: 100%;
    width: 15%;
    margin-right: 3px;
}
nav a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 35px;
    color: #f7d8d5;
}
nav a:hover{
    color:#fa968b ;
}
a{
    color:#ee5b4b;
    text-decoration: none;
}
a:hover{
  color: #e07f74;
}
a:visited{
    color: black;
}
h3{  
    margin:5px;
    font-size:35px;
    color: #05868f;
    text-align: center;
}
ol{
    max-width:100%;
    padding:0;
    margin:0 auto;
    margin-left: 30px;
}
cite {
    font-size:1.2em;
}
blockquote{
    display: block;
    width:100%;
    margin-left: -10px;
    font-size:1em;
    font-style: italic;
}
form{
    max-width:100%;
    margin:0 auto;
    padding:0;
    margin-bottom: 10px;
}
fieldset{
    border:1px solid  #02455f;
    background-color: #f7d8d5;
}
.blue {
  border:1px solid #02455f;
  box-shadow: 0 0 10px #017272;
  background-color: #04647c;
  margin-bottom: 10px;
}
.submit {
    margin-top: 5px;
    margin-bottom: 5px;
}
.top {
    margin-top: 10px;
}
.top input:hover{
    border:1px solid #fa968b;
}
label{
    cursor:pointer;
}
.bord:hover{
    border:1px solid #fa968b;

}
table{
    border:1px solid #02455f;
    border-collapse: collapse;
    max-width:97%;
    height:250px;
    margin:0 auto;
    padding:5px;
    margin-bottom: 10px;
}
td{
    border:1px solid #e07f74;
    padding:7px;
    font-size:17px;
}

th{
    border-bottom:1px solid #02455f;
    padding:7px;
    font-size:17px;
    background-color: #017272;
    color: #f7d8d5;
}
.long{
    border-left:1px solid #02455f;
    border-right:1px solid #02455f;
}
tr:nth-child(2n){
    background-color: #f7d8d5;
}
.comb{
    background-color: #e07f74;
    border: 1px solid #05868f;
}
.none{
    border:none;
}
.dow{
    border-bottom: 1px solid #e07f74;
}
#bio{
    max-width:500px;
    height:150px;
}
.fio{
    max-width:400px;
}
.vr{
    text-align: center;
}
img{
    max-width:100%;
}
#dress{
    max-width:100%;
}
#sea{
    max-width:100%;
}